<div class="row">
  <div class="col-12 col-xl-8" style="padding: 0 4px 0 14px;">
    <nz-card>
      <nz-table
        #ajaxTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="hotels"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)"
        [nzScroll]="{ x: '700px' }"
      >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzShowCheckbox nzShowRowSelection
              [nzSelections]="listOfSelection"
              [(nzChecked)]="isAllDisplayDataChecked"
              [nzIndeterminate]="isIndeterminate"
              (nzCheckedChange)="checkAll($event)"
              nzWidth="50px"></th>
          <th nzShowSort nzSortKey="id" nzWidth="50px">ID</th>
          <th nzShowSort nzSortKey="name">Name</th>
          <th nzShowSort nzSortKey="email">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of ajaxTable.data" class="hotel-row"
            [ngClass]="{'selected-row': data.id==selected }">
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
          <td (click)="hotelClicked(data)">{{ data.id }}</td>
          <td (click)="hotelClicked(data)">{{ data.name }}</td>
          <td (click)="hotelClicked(data)">{{ data.email }}</td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
  <div class="col-12 col-xl-4" style="padding: 0 14px 0 1px;">
    <nz-card>
      <router-outlet></router-outlet>
    </nz-card>
  </div>
</div>
