<div *ngVar="session$ | async as session" class="page-wrapper chiller-theme toggled">
  <button id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars"></i>
  </button>

  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a class="navbar-brand" routerLink="/">
          <i class="fa fa-cube">&nbsp;</i>Rent<b>Cube</b>
        </a>

      </div>
      <div class="sidebar-subtitle">
        Management Platform
      </div>

      <div class="sidebar-header">

        <div class="user-pic">
          <img class="img-responsive img-rounded" src="{{session.profile.photo_url}}" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            {{session.profile.name}}
            <strong>{{session.profile.surname}}</strong>
          </span>
          <span class="user-role">
            {{session.user.role}}
          </span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>

      <div class="sidebar-menu">
        <ul>

          <li class="header-menu">
            <span>General</span>
          </li>

          <li>
            <a routerLink="/management">
              <i class="fa fa-book"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li>
            <a routerLink="/management/hotels">
              <i class="fa fa-calendar"></i>
              <span>Hotels</span>
            </a>
          </li>

          <li>
            <a routerLink="/management/users">
              <i class="fa fa-folder"></i>
              <span>Users</span>
            </a>
          </li>

        </ul>
      </div>

    </div>
  </nav>

  <main class="page-content">
    <router-outlet></router-outlet>
  </main>

</div>
