<div>
  <form (ngSubmit)="submit(form.value)" [formGroup]="form" class="search-widget form-validate">
    <h4 id="searchLabel">Search</h4>
    <div class="form-group">
      <div class="controls">
        <div class="control-label">
          <label for="destination">Destination:</label>
        </div>
        <input class="form-control" formControlName="destination" id="destination"
               placeholder="Type your destination" type="text">
      </div>
    </div>
    <!--     (ngModelChange)="onStartChange($event)"
              (nzOnOpenChange)="handleStartOpenChange($event)"
              [nzDisabledDate]="disabledStartDate"-->
    <!-- (ngModelChange)="onEndChange($event)"
              (nzOnOpenChange)="handleEndOpenChange($event)"
              [nzDisabledDate]="disabledEndDate"
               [nzOpen]="endOpen"-->
    <!--nzFormat="yyyy-MM-dd HH:mm:ss"-->
    <div formGroupName="daterangeGroup">
      <div class="form-group">
        <div class="controls">
          <div class="control-label">
            <label for="startDate">Check-In Date:</label>
          </div>
          <nz-date-picker
            formControlName="startDate"
            id="startDate"
            nzFormat="dd-MM-yyyy"
            nzPlaceHolder="Start"
            nzShowTime
          >
          </nz-date-picker>
        </div>

        <div class="form-group">
          <div class="controls">
            <div class="control-label">
              <label for="endDate">Check-Out Date:</label>
            </div>
            <nz-date-picker
              formControlName="endDate"
              id="endDate"
              nzFormat="dd-MM-yyyy"
              nzPlaceHolder="End"
              nzShowTime
            >
            </nz-date-picker>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <input
          min="1"
          max="15"
          type="number"
          class="form-control"
          placeholder="Visitors"
          formControlName="visitors"
          aria-label="place"
          aria-describedby="basic-addon1">
      </div>
    </div>

    <!--<div class="form-group">
      <label for="adultsNumInput">Adults:</label>
      <select [(ngModel)]="selectedAdultsNum" class="custom-select" formControlName="" id="adultsNumInput"
              name="selectedAdultsNum">
        <option *ngFor="let i of adults" [value]="i">{{i.label}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="childrenNumInput">Children:</label>
      <select [(ngModel)]="selectedChildrenNum" class="custom-select" formControlName="" id="childrenNumInput"
              name="selectedChildrenNum">
        <option *ngFor="let i of children" [value]="i">{{i.label}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="roomsNumInput">Rooms:</label>
      <select [(ngModel)]="selectedRoomsNum" class="custom-select" formControlName="" id="roomsNumInput"
              name="selectedRoomsNum">
        <option *ngFor="let i of rooms" [value]="i">{{i.label}}</option>
      </select>
    </div>

    <label><input [(ngModel)]="travelingForWork" formControlName="" name="travelingForWork" type="checkbox"> I'm
      travelling for work.</label>-->

    <button class="btn btn-primary" type="submit">Submit</button>

  </form>
</div>
