<div class="search-widget">
  <form (ngSubmit)="submit(form.value)" [formGroup]="form" class="form-validate">
    <h4 id="searchLabel">Search</h4>
    <div class="form-group">
      <div class="controls">
        <div class="control-label">
          <label for="destination">Destination:</label>
        </div>
        <input
          id="destination"
          ngx-google-places-autocomplete
          formControlName="destination"
          [options]='placesOptions'
          #placesRef="ngx-places"
          (onAddressChange)="handleCheckAddressChange($event)"
          (input)="valuechange(place.value)"
          type="text"
          class="form-control"
          placeholder="Where are you going?"
          aria-label="place"
          aria-describedby="basic-addon1"
          #place>
      </div>
    </div>
    <!--     (ngModelChange)="onStartChange($event)"
              (nzOnOpenChange)="handleStartOpenChange($event)"
              [nzDisabledDate]="disabledStartDate"-->
    <!-- (ngModelChange)="onEndChange($event)"
              (nzOnOpenChange)="handleEndOpenChange($event)"
              [nzDisabledDate]="disabledEndDate"
               [nzOpen]="endOpen"-->
    <!--nzFormat="yyyy-MM-dd HH:mm:ss"-->
    <div formGroupName="daterangeGroup">
      <div class="form-group">
        <div class="controls">
          <div class="control-label">
            <label for="startDate">Check-In Date:</label>
          </div>
          <nz-date-picker
            formControlName="startDate"
            id="startDate"
            nzFormat="dd-MM-yyyy"
            nzPlaceHolder="Start"
            nzShowTime
          >
          </nz-date-picker>
        </div>

        <div class="form-group">
          <div class="controls">
            <div class="control-label">
              <label for="endDate">Check-Out Date:</label>
            </div>
            <nz-date-picker
              formControlName="endDate"
              id="endDate"
              nzFormat="dd-MM-yyyy"
              nzPlaceHolder="End"
              nzShowTime
            >
            </nz-date-picker>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="controls">
        <div class="control-label">
          <label for="visitors">Visitors:</label>
        </div>
        <input
          min="1"
          max="15"
          id="visitors"
          type="number"
          class="form-control"
          placeholder="Visitors"
          formControlName="visitors"
          aria-label="place"
          aria-describedby="basic-addon1">
      </div>
    </div>

    <br/>

    <div class="text-right">
      <button
        [disabled]="!form.valid || progress || form.untouched"
        type="submit"
        class="btn btn-primary">
        <fa *ngIf="progress" name="cog" animation="spin"></fa>
        <fa *ngIf="!progress" name="search"></fa>
        &nbsp;
        Search
      </button>
    </div>
  </form>
</div>
