<div class="search-widget">
  <form (ngSubmit)="submit(form.value)" [formGroup]="form" class="form-validate">
    <h4 id="searchLabel">Search</h4>

    <!--Google place-->
    <div class="form-group">
      <div class="controls">
        <div class="control-label">
          <label for="destination">Destination:</label>
        </div>
        <input
          id="destination"
          ngx-google-places-autocomplete
          formControlName="destination"
          [options]='placesOptions'
          #placesRef="ngx-places"
          (onAddressChange)="handleCheckAddressChange($event)"
          (input)="onPlaceChange(place.value)"
          type="text"
          class="form-control"
          placeholder="Where are you going?"
          aria-label="place"
          aria-describedby="basic-addon1"
          #place>
      </div>
    </div>

    <!--Check-in/out dates-->
    <div formGroupName="daterangeGroup">
      <div class="form-group">
        <div class="controls">
          <div class="control-label">
            <label for="startDate">Check-In Date:</label>
          </div>
          <nz-date-picker
            formControlName="checkin"
            id="startDate"
            nzFormat="yyyy-MM-dd"
            nzPlaceHolder="Start"
          >
          </nz-date-picker>
        </div>
      </div>

      <div class="form-group">
        <div class="controls">
          <div class="control-label">
            <label for="endDate">Check-Out Date:</label>
          </div>
          <nz-date-picker
            formControlName="checkout"
            id="endDate"
            nzFormat="yyyy-MM-dd"
            nzPlaceHolder="End"
          >
          </nz-date-picker>
        </div>
      </div>
    </div>

    <!--Distance radius-->
    <div class="form-group" style="margin-bottom: 10px;">
      <div class="controls">
        <div class="control-label">
          <label for="visitors">Distance radius:</label>
        </div>
        <select class="custom-select" formControlName="radius">
          <option *ngIf="!radiusOptions.includes(radius)"
                  [ngValue]="radius">~{{radius | number:'1.0-0'}} km
          </option>
          <option
            *ngFor="let number of radiusOptions"
            [ngValue]="number">{{number}} km
          </option>
        </select>
      </div>
    </div>

    <!--Visitors-->
    <div class="form-group">
      <div class="controls">
        <div class="control-label">
          <label for="visitors">Visitors:</label>
        </div>
        <input
          min="1"
          max="15"
          id="visitors"
          type="number"
          class="form-control"
          placeholder="Visitors"
          formControlName="visitors"
          aria-label="place"
          aria-describedby="basic-addon1">
      </div>
    </div>

    <br/>

    <div class="text-right">
      <button
        [disabled]="!form.valid || progress"
        type="submit"
        class="btn btn-primary">
        <fa *ngIf="progress" name="cog" animation="spin"></fa>
        <fa *ngIf="!progress" name="search"></fa>
        &nbsp;
        Search
      </button>
    </div>
  </form>
</div>
