<div class="rooms-list">
  <h2>Reserve a room</h2>
  <ul class="list-group">
    <li *ngFor="let room of rooms" class="list-group-item">
      <img class="room-image" src="{{room.photo}}">
      <div class="people-icons">
        <img *ngFor="let in of counter(room.capacity); let i = index;" src="assets/images/person.svg"
        class="person-icon">
      </div>
      <p class="room-description">{{room.description}}</p>
      <button type="button" class="btn btn-primary">Reserve</button>
      <h6 class="available">Available: {{room.number}}</h6>
    </li>
  </ul>
</div>
