<div class="container">
  <div class="row">
    <div class="col">
      <nz-table
        #ajaxTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="listOfData"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)"
      >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzShowSort nzSortKey="name">ID</th>
          <th nzShowSort nzSortKey="username">Username</th>
          <th nzShowSort nzSortKey="email">Email</th>
          <th nzShowSort nzSortKey="role">Role</th>
          <th nzShowSort nzSortKey="pending_provider">pending_provider</th>
          <th nzShowSort nzSortKey="name">Name</th>
          <th nzShowSort nzSortKey="surname">Surname</th>
          <th nzShowSort nzSortKey="birthday">Birthday</th>
          <th nzShowSort nzSortKey="createdAt">createdAt</th>

          <!--      <th nzShowFilter [nzFilters]="filterGender" (nzFilterChange)="updateFilter($event)">Gender</th>
                    <th nzShowSort nzSortKey="email"><span>Email</span></th>-->

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.username }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.role.name }}</td>
          <td>{{ data.pending_provider }}</td>
          <td>{{ data.profile.name }}</td>
          <td>{{ data.profile.surname }}</td>
          <td>{{ data.profile.birthday }}</td>
          <td>{{ data.createdAt | date }}</td>
          <!--      <td>{{ data.gender }}</td>
                    <td>{{ data.email }}</td>-->
        </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
