.border {
  border: 1px solid #1890ff;
  border-radius: 50%;
}

.form-control {
  border: 1px solid #ffffff;
}

.input-group-text {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.form-control:focus {
  box-shadow: none;
}

nz-range-picker {
  cursor: pointer;
  max-width: 218px;
}

.input-group {
  padding: 5px 5px 0 5px;
}
