<div class="jumbotron">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)" class="form-validate">

      <h1 class="display-8">Find deals for any season</h1>

      <div class="row">

        <!--Autocomplete-->
        <div class="input-group col-12 col-md-6 col-xl-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
               <i class="fas fa-map-marker-alt"></i>
            </span>
          </div>
          <input
            ngx-google-places-autocomplete
            [options]='placesOptions'
            #placesRef="ngx-places"
            (onAddressChange)="handleCheckAddressChange($event)"
            (input)="onAddressInputChange(place.value)"
            type="text"
            class="form-control"
            placeholder="Where are you going?"
            aria-label="place"
            aria-describedby="basic-addon1"
            #place
          >
        </div>

        <!--Date Range Picker-->
        <div class="input-group col-12 col-md-6 col-xl-3">
          <div class="input-group-prepend">
          <span class="input-group-text" style="width: 49px;">
             <i class="fas fa-calendar-alt"></i>
          </span>
          </div>
          <!--[nzStyle]="{'width':'250px'}"-->
          <nz-range-picker
            [nzDateRender]="tplRender"
            [nzAllowClear]="true"
            [nzSize]="'large'"
            [nzDisabledDate]="disabledDate"
            [nzFormat]="'dd-MM-yyyy'"
            [nzShowToday]="true"
            formControlName="daterange"
          >
          </nz-range-picker>
        </div>

        <!--Visitors-->
        <div class="input-group col-12 col-md-6 col-xl-2">

          <div class="input-group-prepend">
            <span class="input-group-text">
               <i class="fas fa-male"></i>
            </span>
          </div>
          <input
            min="1"
            max="15"
            type="number"
            class="form-control"
            placeholder="Visitors"
            formControlName="visitors"
            aria-label="place"
            aria-describedby="basic-addon1">
        </div>
        <!--Search button-->
        <div class="input-group col-12 col-md-6 col-xl-3 justify-content-end">
          <button
            [disabled]="!form.valid || progress || form.untouched"
            style="width: 100%;"
            type="submit"
            class="btn btn-primary">
            <fa *ngIf="progress" name="cog" animation="spin"></fa>
            <fa *ngIf="!progress" name="search"></fa>
            &nbsp;
            Search
          </button>
        </div>

      </div>
    </form>
  </div>
</div>

<ng-template #tplRender let-current>
  <div
    style="cursor: pointer"
    class="ant-calendar-date"
    [class.border]="current.getDate() === 1">
    {{ current.getDate() }}
  </div>
</ng-template>
