<!--Main layout-->
<main class="mt-5">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="info-template">
          <h1>About Rent<b>Cube</b></h1>
          <div class="info-details">
            <h3>
              In this site you can book hotel rooms and live your dream vacation!<br>
              If you are a hotel owner you can maximize your list of clients by showing the world what you offer!
            </h3>
          </div>
          <div class="info-actions">
            <a class="btn btn-primary btn-lg" (click)="backClicked()"><span class="glyphicon glyphicon-home"></span>
              Take me back
            </a>
            <a class="btn btn-primary btn-lg" routerLink=""><span class="glyphicon glyphicon-home">
              Go to homepage</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>


