<div class="container">
  <div class="jumbotron" style="margin-bottom: 1rem;">
    <div class="login-form mx-auto d-block w-100">
      <div class="page-header text-center">
        <h1>Sign In</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)"
            action="/astroidnew/index.php/pages/login?task=user.login" method="post" class="form-validate">
        <div class="form-group">
          <div class="control-label">
            <label id="email-lbl" for="email" class="required">Email<span class="star"> *</span></label>
          </div>
          <div class="controls">
            <input class="form-control"
                   id="email"
                   type="email"
                   formControlName="email"
                   #loginFormEmail
                   [ngClass]="{'is-invalid': (loginForm.get('email').dirty) &&
                                            !loginForm.get('email').valid }"/>
            <span class="invalid-feedback">
            <span *ngIf="(loginForm.get('email').errors?.email && loginForm.get('email').touched)">
              The email format is wrong.
            </span>
          </span>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label">
            <label id="password-lbl" for="password" class="required">Password<span class="star"> *</span></label>
          </div>
          <div class="controls">
            <input class="form-control"
                   id="password"
                   type="password"
                   formControlName="password"
                 />
          </div>
          <div class="d-flex justify-content-end">
            <a class="float-right" routerLink="/forgot">Forgot your password?</a>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="form-check form-group d-flex justify-content-end">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input">Check me out</label>
          </div>
          <div class="form-group d-flex justify-content-start">
            <div class="controls">
              <button
                [disabled]="!loginForm.valid || loginProgress || loginForm.untouched"
                type="submit"
                class="btn btn-primary">
                Log in
                <fa *ngIf="loginProgress" name="cog" animation="spin"></fa>
                <fa *ngIf="!loginProgress" name="sign-in"></fa>
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="text-center">
        <a routerLink="/register">Don't have an account yet?</a>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fa fa-facebook-square"></i></span>
          <span><i class="fa fa-google-plus-square"></i></span>
          <span><i class="fa fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input #loginFormEmail type="email" nz-input formControlName="email" placeholder="Email"/>
            <span *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.errors">
              Please input your email!
            </span>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" nz-input formControlName="password" placeholder="Password"/>
            <span *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors">
              Please input your Password!
            </span>
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div>
          <div class="form-group">


            &lt;!&ndash;         <input value="Login" class="btn float-right login_btn">
         &ndash;&gt;

            <button
              [disabled]="!loginForm.valid || loginProgress || loginForm.untouched"
              nz-button class="btn float-right login_btn" [nzType]="'primary'">
              Sign in
              <fa *ngIf="loginProgress" name="cog" animation="spin"></fa>
              <fa *ngIf="!loginProgress" name="sign-in"></fa>
            </button>

          </div>
        </form>
      </div>


      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?
          <a routerLink="/auth/register">Register now!</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>

    </div>
  </div>
</div>-->

<!--

<form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submit(loginForm.value)">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input #loginFormEmail type="email" nz-input formControlName="email" placeholder="Email"/>
      </nz-input-group>
      <nz-form-explain *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.errors">
        Please input your email!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="Password"/>
      </nz-input-group>
      <nz-form-explain *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors">
        Please input your Password!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>Remember me</span>
      </label>
      <a class="login-form-forgot">Forgot password</a>
      <button
        [disabled]="!loginForm.valid || loginProgress || loginForm.untouched"
        nz-button class="login-form-button" [nzType]="'primary'">
        Sign in
        <fa *ngIf="loginProgress" name="cog" animation="spin"></fa>
        <fa *ngIf="!loginProgress" name="sign-in"></fa>
      </button>
      Or
      <a routerLink="/auth/register">register now!</a>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
-->
