<div class="container">
  <div class="jumbotron" style="margin-bottom: 1rem;">
    <div class="login-form mx-auto d-block w-100">
      <div class="page-header text-center">
        <h1>Sign In!</h1>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit(form.value)" class="form-validate">
        <div class="form-group">
          <div class="control-label">
            <label id="email-lbl" for="email" class="required">Email<span class="star"> *</span></label>
          </div>
          <div class="controls">
            <input class="form-control"
                   id="email"
                   type="email"
                   formControlName="email"
                   #loginFormEmail
                   [ngClass]="{'is-invalid': (form.get('email').dirty) &&
                                            !form.get('email').valid }"/>
            <span class="invalid-feedback">
            <span *ngIf="(form.get('email').errors?.email && form.get('email').touched)">
              The email format is wrong.
            </span>
          </span>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label">
            <label id="password-lbl" for="password" class="required">Password<span class="star"> *</span></label>
          </div>
          <div class="controls">
            <input class="form-control" id="password" type="password" formControlName="password"/>
          </div>
          <div class="d-flex justify-content-end">
            <a class="float-right" routerLink="/forgot">Forgot your password?</a>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="form-check form-group d-flex justify-content-end">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="remember">Remember me</label>
          </div>
          <div class="form-group d-flex justify-content-start">
            <div class="controls">
              <button
                [disabled]="!form.valid || progress || form.untouched"
                type="submit"
                class="btn btn-primary">
                Sign In
                <fa *ngIf="progress" name="cog" animation="spin"></fa>
                <fa *ngIf="!progress" name="sign-in"></fa>
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="text-center">
        <p>Don't have an account yet? &nbsp;<a routerLink="/register">Sign Up!</a></p>
      </div>
    </div>
  </div>
</div>
