
#debug-btn {
  button{
    margin: 5px;
  }
}

.tile-box {
  height: 230px;
  padding: 0;
  overflow: hidden;
  border: 4px solid transparent;
}

.card-title {
  color: #f0f3f6;
  padding: 15px;
  text-shadow: 0 0 2px #0000007a;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.card-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: background-color 250ms linear;
}

.card-overlay:hover {
  background-color: #51a2f936;
}

.card {
  cursor: pointer;
  transition: border 250ms ease-in-out;

  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform .3s;
  transition: transform .3s;

}

.card:hover {
  border: 1px solid #096dd999;

  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
