.head {
  float: left;
  width: 100%;
}

.title-span {
  padding-right: 6px;
  cursor: pointer;
}

.search-box {
  width: 90%;
  margin: 0 auto 40px;
  box-shadow: 10px 13px 0 rgba(0, 0, 0, 0.2);
}

.listing-block {
  background: #fff;
  height: 500px;
  padding-top: 20px;
  overflow-y: scroll;
}

.slimScrollDiv {
  width: 41% !important;
}

.hotel-card {
  position: relative;
  margin-bottom: 15px;
  background: white;
  padding: 5px;
}

.hotel-card img {
  width: 200px;
  margin: 0;
  height: 150px;
}

.media-body {
  height: 150px;
}

.title {
  font-size: 23px;
  font-weight: 600;
  color: #4765AB;
}

.hotel-card .title small {
  display: block;
  font-size: 17px;
  color: #232323;
}

.hotel-card .stats {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.hotel-card .stats span {
  float: left;
  margin-right: 10px;
  font-size: 15px;
}

.hotel-card .stats span i {
  margin-right: 7px;
  color: #4765AB;
}

.hotel-card .address {
  float: left;
  width: 100%;
  font-size: 14px;
  margin-top: 5px;
  color: #888;
}

.fav-box {
  font-size: 20px;
  top: 4px;
  color: #e75628;
}

.map-box {
  background-color: #A3CCFF;
}
