<div class="container">
  <div class="row">
    <div class="col-4">
      <app-hotel-details
        [name]="hotel.name"
        [stars]="hotel.stars"
        [shortDescription]="hotel.description_short"
        [email]="hotel.email"
      [longDescription]="hotel.description_long"></app-hotel-details>
    </div>
    <div class="col-8" id="images-carousel">
      <app-images-carousel></app-images-carousel>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-rooms-list></app-rooms-list>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-hotel-reviews></app-hotel-reviews>
    </div>
  </div>
</div>
