<div class="container">
  <div class="row">
    <div id="left-content" class="col-3">
      <div class="row">
        <app-search-widget
          [destination]="destination"
          [checkin]="checkin"
          [checkout]="checkout"
          [visitors]="visitors"
          [latitude]="lat"
          [longitude]="lng"
          [radius]="radius"
        ></app-search-widget>
      </div>
      <div class="row" style="margin-top: 30px;">
        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="12"
          [maxZoom]="16"
          [disableDefaultUI]="true"
          [zoomControl]="false"
          [scaleControl]="false"
          [mapTypeControl]="false"
          [fitBounds]="true">
          <agm-marker [latitude]="hotel.lat"
                      [longitude]="hotel.lng"
                      [agmFitBounds]="true"
                      [iconUrl]="markerIcon">
          </agm-marker>
        </agm-map>
      </div>
    </div>
    <div id="right-content" class="col-9">
      <div class="row">
        <div class="col-12" id="images-carousel" *ngIf="hotel.hotel_photos.length">
          <app-images-carousel [images]="hotel.hotel_photos"></app-images-carousel>
        </div>
        <div class="col-12">
          <app-hotel-details
            [name]="hotel.name"
            [stars]="hotel.stars"
            [shortDescription]="hotel.description_short"
            [email]="hotel.email"
            [longDescription]="hotel.description_long">
          </app-hotel-details>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="rooms-list">
            <h2>Reserve a room</h2>
            <nz-card *ngFor="let room of rooms" [nzBordered]="true">
              <h6 class="available">Room number: {{room.room_number}} <span>from €{{room.price}}</span></h6>
              <div nz-row>
                <div nz-col [nzSpan]="18" [nzPush]="6">
                  <button type="button" class="btn btn-primary" (click)="reservation(room.id)">Reserve</button>
                </div>

                <div nz-col [nzSpan]="6" [nzPull]="18">
                  <span>Persons:</span>
                  <div class="people-icons">
                    <img *ngFor="let in of counter(room.capacity); let i = index;"
                         src="assets/images/person.svg" class="person-icon" alt="person-icon">
                  </div>
                </div>
              </div>
              <nz-modal [(nzVisible)]="isVisible" [nzTitle]="hotel.name" (nzOnCancel)="handleCancel()"
                        (nzOnOk)="handleOk(room. id)">

                <h5>Room number {{room.room_number}} check-in ...</h5>

                <div class="form-group">
                  <div class="controls">
                    <div class="control-label">
                      <label for="startDate">Check-In Date:</label>
                    </div>
                    <nz-date-picker
                      id="startDate"
                      nzFormat="yyyy-MM-dd"
                      nzPlaceHolder="Start"
                      [(ngModel)]="checkin"
                    >
                    </nz-date-picker>
                  </div>
                </div>

                <div class="form-group">
                  <div class="controls">
                    <div class="control-label">
                      <label for="endDate">Check-Out Date:</label>
                    </div>
                    <nz-date-picker
                      id="endDate"
                      nzFormat="yyyy-MM-dd"
                      nzPlaceHolder="End"
                      [(ngModel)]="checkout"
                    >
                    </nz-date-picker>
                  </div>
                </div>

              </nz-modal>
            </nz-card>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-hotel-reviews></app-hotel-reviews>
        </div>
      </div>
    </div>
  </div>
</div>
