<div class="container">
  <div class="row">
    <div id="left-content" class="col-3">
      <div class="row">
        <app-search-widget
          [destination]="destination"
          [checkin]="checkin"
          [checkout]="checkout"
          [visitors]="visitors"
          [latitude]="lat"
          [longitude]="lng"
          [radius]="radius"
        ></app-search-widget>
      </div>
      <div class="row" style="margin-top: 30px;">
        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="12"
          [maxZoom]="15"
          [styles]="mapStyle"
          [disableDefaultUI]="true"
          [zoomControl]="false"
          [scaleControl]="false"
          [mapTypeControl]="false"
          [fitBounds]="true">
          <agm-marker [latitude]="hotel.lat"
                      [longitude]="hotel.lng"
                      [agmFitBounds]="true"
                      [iconUrl]="markerIcon">
          </agm-marker>
        </agm-map>
      </div>
    </div>
    <div id="right-content" class="col-9">
      <div class="row">
        <div class="col-12" id="images-carousel" *ngIf="hotel.hotel_photos.length">
          <app-images-carousel [images]="hotel.hotel_photos"></app-images-carousel>
        </div>
        <div class="col-12">
          <app-hotel-details
            [name]="hotel.name"
            [stars]="hotel.stars"
            [shortDescription]="hotel.description_short"
            [email]="hotel.email"
            [longDescription]="hotel.description_long">
          </app-hotel-details>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-rooms-list [rooms]="rooms"></app-rooms-list>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-hotel-reviews></app-hotel-reviews>
        </div>
      </div>
    </div>
  </div>
</div>
