<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit(registerForm.value)">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="social">
          <i class="fa fa-google-plus"></i>
        </a>
        <a href="#" class="social">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <span>or use your email for registration</span>
      <input type="text" placeholder="Name" formControlName="r_name"/>
      <input type="text" placeholder="Surname" formControlName="r_surname"/>
      <input type="text" placeholder="Username" formControlName="r_username"/>
      <input type="email" placeholder="Email"  formControlName="r_email"/>
      <div formGroupName="r_passwordGroup">
        <input type="password" placeholder="Password" formControlName="r_password"/>
        <input type="password" placeholder="Confirm password" formControlName="r_confirmPassword"/>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="register_remember" formControlName="r_remember">
        <label class="custom-control-label" for="register_remember">Remember me</label>
      </div>
      <div class="controls">
        <button
          [disabled]="!registerForm.valid || registerProgress || registerForm.untouched"
          type="submit" class="btn btn-outline-dark" style="margin-top: 10px">
          Sign Up
          <fa *ngIf="registerProgress" name="cog" animation="spin"></fa>
          <fa *ngIf="!registerProgress" name="sign-in"></fa>
        </button>
      </div>
    </form>
  </div>

  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)">
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social">
          <i class="fa fa-facebook"></i></a>
        <a href="#" class="social">
          <i class="fa fa-google-plus"></i>
        </a>
        <a href="#" class="social">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <span>or use your account</span>
      <input #loginFormEmail type="email" placeholder="Email" formControlName="l_email"/>
      <input type="password" placeholder="Password" formControlName="l_password"/>
      <a href="#">Forgot your password?</a>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="login_remember" formControlName="l_remember">
        <label class="custom-control-label" for="login_remember">Remember me</label>
      </div>
      <div class="controls">
        <button
          [disabled]="!loginForm.valid || loginProgress || loginForm.untouched"
          type="submit" class="btn btn-outline-dark">
          Sign In
          <fa *ngIf="loginProgress" name="cog" animation="spin"></fa>
          <fa *ngIf="!loginProgress" name="sign-in"></fa>
        </button>
      </div>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button type="button" class="btn btn-outline-dark" (click)="signIn($event)" id="signIn">
          Sign In
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Visitor!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button type="submit" class="btn btn-outline-dark" (click)="signUp($event)" id="signUp">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
