<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit(registerForm.value)">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="social">
          <i class="fa fa-google-plus"></i>
        </a>
        <a href="#" class="social">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <span>or use your email for registration</span>

<!--      <input class="form-control"
             id="firstNameId"
             type="text"
             placeholder="First Name (required)"
             formControlName="firstName"
             [ngClass]="{'is-invalid': (customerForm.get('firstName').touched ||
                                            customerForm.get('firstName').dirty) &&
                                            !customerForm.get('firstName').valid }" />
      <span class="invalid-feedback">
            <span *ngIf="customerForm.get('firstName').errors?.required">
              Please enter your first name.
            </span>
            <span *ngIf="customerForm.get('firstName').errors?.minlength">
              The first name must be longer than 3 characters.
            </span>
          </span>-->

      <input type="text" placeholder="Username" class="form-control" formControlName="username"/>
      <input type="email" placeholder="Email" formControlName="email"/>

      <div formGroupName="passwordGroup">
        <input type="password" placeholder="Password" formControlName="password"/>
        <input type="password" placeholder="Confirm password" formControlName="confirmPassword"/>
      </div>
      <button
        [disabled]="!registerForm.valid || registerProgress || registerForm.untouched"
        type="submit" class="btn btn-outline-dark" style="margin-top: 10px">
        Sign Up
        <fa *ngIf="registerProgress" name="cog" animation="spin"></fa>
        <fa *ngIf="!registerProgress" name="sign-in"></fa>
      </button>
    </form>
  </div>

  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)">
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social">
          <i class="fa fa-facebook"></i></a>
        <a href="#" class="social">
          <i class="fa fa-google-plus"></i>
        </a>
        <a href="#" class="social">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <span>or use your account</span>
      <input #loginFormEmail type="email" placeholder="Email" formControlName="email"/>
      <input type="password" placeholder="Password" formControlName="password"/>
      <a href="#">Forgot your password?</a>
      <button
        [disabled]="!loginForm.valid || loginProgress || loginForm.untouched"
        type="submit" class="btn btn-outline-dark">
        Sign In
        <fa *ngIf="loginProgress" name="cog" animation="spin"></fa>
        <fa *ngIf="!loginProgress" name="sign-in"></fa>
      </button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button type="button" class="btn btn-outline-dark" (click)="signIn($event)" id="signIn">
          Sign In
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Visitor!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button type="submit" class="btn btn-outline-dark" (click)="signUp($event)" id="signUp">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
