<nav *ngVar="session$ | async as session" class="navbar navbar-inverse navbar-expand-xl navbar-dark">
  <div class="navbar-header d-flex col">
    <a class="navbar-brand" routerLink="/"><i class="fa fa-cube"></i>Rent<b>Cube</b></a>
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
            class="navbar-toggle navbar-toggler ml-auto">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    <ul class="nav navbar-nav navbar-right ml-auto">

      <li class="nav-item">
        <a routerLink="/management" class="nav-link">
          <i class="fa fa-futbol-o"></i>
          <span>Rent your property</span>
        </a>
      </li>

      <li *ngIf="session" class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-envelope"></i>
          <span>Messages</span></a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-bell"></i>
          <span>Notifications</span>
        </a>
      </li>

      <li *ngIf="session" class="btn-group" dropdown>
        <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle user-action"
           aria-controls="dropdown-basic">
          <img src="{{session.user.photoUrl}}" class="avatar" alt="Avatar">
          <!--<b class="caret"></b>-->
        </a>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
            role="menu" aria-labelledby="button-basic">

          <li role="menuitem">
            <a class="dropdown-item" routerLink="/profile">
              <i class="fa fa-user-o"></i> {{session.user.name}}&nbsp;{{session.user.surname}}</a>
          </li>

          <li class="divider dropdown-divider">

          <li role="menuitem">
            <a class="dropdown-item" href="#">
              <i class="fa fa-calendar-o"></i> Calendar</a>
          </li>

          <li role="menuitem">
            <a class="dropdown-item" href="#">
              <i class="fa fa-sliders"></i> Settings
            </a>
          </li>
          <li class="divider dropdown-divider">

          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/" (click)="logout()">
              <i class="fa fa-sign-out"></i> Logout
            </a>
          </li>
        </ul>
      </li>

      <li *ngIf="!session" class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#connectModal">
          <i class="fa fa-sign-in"></i>
          <span>Sign in / Booking</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="connectModal"
     tabindex="-1" role="dialog"
     aria-labelledby="connectModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <app-connect-form></app-connect-form>
    </div>
  </div>
</div>
