/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f0f3f6 !important;
}

.breadcrumb {
  background-color: #ffffff00 !important;
  border-radius: 0.25rem !important;
}

@import '~ngx-toastr/toastr.css';

.ant-input {
  border: 1px solid #ffffff;
  height: 38px !important;
}

agm-map > div.agm-map-container-inner.sebm-google-map-container-inner {
  border: 1px solid #e2aa11;
}

#startDate > nz-picker > span, #endDate > nz-picker > span {
  width: 238px !important;
}

.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: #ffffff;
}

input::-webkit-input-placeholder {
  color: #919191 !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #919191 !important;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: #919191 !important;
}

input:-ms-input-placeholder {
  color: #919191 !important;
}

nz-range-picker > nz-picker > span > span > span.ant-calendar-picker-icon.ng-star-inserted > i > svg {
  display: none !important;
}

.ng5-slider .ng5-slider-bubble {
  font-size: 13px !important;
}

ng5-slider > span.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-min {
  width: 22px;
  height: 22px;
  top: -10px;
}

ng5-slider > span.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-max {
  width: 22px;
  height: 22px;
  top: -10px;
}

ng5-slider > span.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-max:after {
  width: 6px;
  height: 6px;
  top: 8px;
  left: 8px;
}

ng5-slider > span.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-min:after {
  width: 6px;
  height: 6px;
  top: 8px;
  left: 8px;
}
