/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f0f3f6 !important;
}

.breadcrumb {
  background-color: #ffffff00 !important;
  border-radius: 0.25rem !important;
}

@import '~ngx-toastr/toastr.css';

.ant-input-lg {
  height: 38px !important;
}

.ant-input {
  border: 1px solid #ffffff;
}

.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: #ffffff;
}

input::-webkit-input-placeholder {
  color: #919191 !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #919191 !important;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: #919191 !important;
}

input:-ms-input-placeholder {
  color: #919191 !important;
}

nz-range-picker > nz-picker > span > span > span.ant-calendar-picker-icon.ng-star-inserted > i > svg {
  display: none !important;
}
